.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

.bio {
  width: 80%;
  margin-bottom: 40px;
  padding: 20px;
  background-color: var(--accent);
  text-align: center;
  font-size: 1.2rem;
  border: 2px solid var(--violet-neon);
  box-shadow: 0 0 10px var(--violet-neon);
}

.bio h2 {
  color: var(--jaune-neon);
  margin-bottom: 10px;
  font-size: 2rem;
}

.bio p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: var(--texte-clair);
}

/* Cartes */
.cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 80%;
}

.card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--accent);
  text-align: center;
  color: var(--bleu-neon);
  border: 2px solid var(--jaune-neon);
  border-radius: 10px;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
  box-shadow: 0 0 15px rgba(255, 234, 0, 0.3);
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.card h3 {
  font-size: 1.5rem;
  margin: 10px 0 5px;
  color: var(--jaune-neon);
}

.card p {
  font-size: 1rem;
  color: var(--texte-clair);
  line-height: 1.5;
}

.card:hover {
  transform: translateY(-10px);
  background-color: var(--violet-neon);
  color: var(--jaune-neon);
  box-shadow: 0 0 20px var(--violet-neon);
}

.section-text {
  padding: 20px;
  color: var(--texte-clair);
}

.section-text h3 {
  color: var(--jaune-neon);
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.section-text p {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--bleu-neon);
}
