.footer {
  background-color: var(--accent);
  color: var(--texte-clair);
  text-align: center;
  padding: 20px;
  border-top: 2px solid var(--violet-neon);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.footer a {
  color: var(--bleu-neon);
  text-decoration: none;
  margin: 0 10px;
}

.footer a:hover {
  color: var(--jaune-neon);
}

.footer-social img {
  width: 24px;
  height: 24px;
  margin: 0 10px;
  transition: transform 0.3s;
}

.footer-social img:hover {
  transform: scale(1.2);
}

.map {
  border-radius: 5px;
  height: 100%;
  width: 100%;
  max-width: 100%;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, min-content);
  gap: 1rem;
}

.span {
  grid-column: span 2 / span 2;
}

@media (max-width: 1000px) {
  .footer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}
