/* Variables de couleurs */
:root {
  --jaune-neon: #ffea00;
  --bleu-neon: #00e5ff;
  --violet-neon: #a700ff;
  --fond-sombre: #1b1b2a;
  --texte-clair: #f0f0f0;
  --accent: #2a2a40;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  height: 100dvh; /* Mobile support */
  width: 100%;
  font-family: 'Roboto', Gordita, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;

  background-color: var(--fond-sombre);
  color: var(--texte-clair);
}

a {
  margin-right: 1rem;
}

main {
  text-align: center;
  padding: 1em;
  margin: 0 auto;
}

h1 {
  color: #335d92;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 100;
  line-height: 1.1;
  margin: 4rem auto;
  max-width: 14rem;
}

p {
  max-width: 14rem;
  margin: 2rem auto;
  line-height: 1.35;
}

img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 480px) {
  h1 {
    max-width: none;
  }

  p {
    max-width: none;
  }
}
