.card {
  flex: 1;
  display: flex;
  cursor: pointer;
  padding: 0.5rem;
  position: relative;
  text-align: center;
  align-items: center;
  text-decoration: none;
  border-radius: 0.25rem;
  flex-direction: column;
  color: var(--bleu-neon);
  border: 1px solid transparent;
  background-color: var(--accent);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s cubic-bezier(0, 0.28, 0.4, 0.66), border 0.3s
    cubic-bezier(0, 0.28, 0.4, 0.66), box-shadow 0.3s
    cubic-bezier(0, 0.28, 0.4, 0.66);
}

.card_type {
  top: -1.5rem;
  font-weight: 700;
  position: absolute;
  color: var(--texte-clair);
  font-family: 'Orbitron', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.card:hover {
  z-index: 1;
  transform: translateY(-10px);
  box-shadow: 10px 0 100px rgba(from var(--violet-neon) r g b / 0.3);
  border: 1px solid var(--violet-neon);
}

.card.cartes {
  border-top: 2px solid var(--violet-neon);
}
.card.société {
  border-top: 2px solid #1ac5b0;
}
.card.réflexion {
  border-top: 2px solid var(--jaune-neon);
}
.card.cartes:hover {
  box-shadow: 10px 0 100px rgba(from var(--violet-neon) r g b / 0.3);
  border: 1px solid var(--violet-neon);
}

.card.société:hover {
  box-shadow: 10px 0 100px rgba(26, 197, 176, 0.3);
  border: 1px solid #1ac5b0;
}

.card.réflexion:hover {
  box-shadow: 10px 0 100px rgba(from var(--jaune-neon) r g b / 0.3);
  border: 1px solid var(--jaune-neon);
}

.card_type {
  position: absolute;
  top: -1.6rem;
  height: 1.6rem;
  line-height: 1.6rem;
  font-size: 1rem;
  left: 0;
  padding: 0 1.5rem;
  color: var(--texte-clair);
  font-family: 'Orbitron', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  clip-path: polygon(1.6rem 0, calc(100% - 1.6rem) 0, 100% 100%, 0 100%);
}

.card_type.cartes {
  background-color: var(--violet-neon);
  color: var(--fond-sombre);
  border: 1px solid var(--violet-neon);
}

.card_type.société {
  background-color: #1ac5b0;
  color: var(--fond-sombre);
  border: 1px solid #1ac5b0;
}

.card_type.réflexion {
  background-color: var(--jaune-neon);
  color: var(--fond-sombre);
  border: 1px solid var(--jaune-neon);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 0.2rem;
  object-fit: cover;
}

.card_content {
  padding: 1rem;
}

.card_content h3 {
  font-size: 1.5rem;
  margin: 0.5rem 0.25rem;
  font-size: 1.8rem;
  color: var(--texte-clair);
}

.card_content p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  padding: 0.5rem 0;
}

.horizontal {
  text-align: left;
  flex-direction: row;
}

.horizontal img {
  width: 12rem;
  height: 100%;
}
