.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--jaune-neon);
  color: var(--fond-sombre);
  height: 4rem;
  padding: 0 1rem 0 1rem;

  svg {
    height: 100%;
    width: 230px;
    flex-shrink: 0;
    padding: 0.25rem;
    fill: var(--fond-sombre);
  }
}

.login_button {
  text-decoration: none;
  color: var(--fond-sombre);
  display: flex;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--fond-sombre);

  font-weight: 800;
  font-size: 0.8rem;
}

.login_button:hover {
  background-color: var(--fond-sombre);
  color: var(--jaune-neon);
}

.nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  font-family: 'Orbitron', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
}

.menu {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;

  a {
    text-decoration: none;
    color: inherit;
    display: flex;
    padding: 1rem 1rem;

    font-weight: 900;
  }
}

.mobile_nav {
  position: fixed;
  inset: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
  font-family: 'Orbitron', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--fond-transparent);
  backdrop-filter: blur(10px);
  color: var(--texte-clair);

  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

.burger_button {
  display: none !important;
}

@media (max-width: 1000px) {
  .header {
    padding: 0 1rem 0 0.25rem;
  }
  .burger_button {
    display: flex !important;
  }
  .nav .menu,
  .nav .login_button {
    display: none;
  }
}
