.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--jaune-neon);
  color: var(--fond-sombre);
  height: 4rem;
  padding: 0 1rem 0 1rem;

  svg {
    height: 100%;
    width: 230px;
    flex-shrink: 0;
    padding: 0.25rem;
    fill: var(--fond-sombre);
  }
}

.button {
  align-items: center;
  background-color: transparent;
  border: 1px solid var(--fond-sombre);
  color: var(--fond-sombre);
  cursor: pointer;
  display: flex;
  gap: 1rem;
  font-family: 'Orbitron', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.8rem;
  font-weight: 800;
  height: 2.5rem;
  padding: 0.25rem 1rem;
  position: relative;
  text-decoration: none;
  transition:
    border 0.3s ease,
    box-shadow 0.3s ease,
    background-color 0.3s ease,
    color 0.3s ease;
}

.button::after,
.button::before {
  position: absolute;
  display: flex;
  content: '';
  height: 0.25rem;
  width: 100%;
  background-color: var(--fond-sombre);
  transition: background-color 0.3s ease;
}

.button::after {
  /* fixing border width */
  bottom: calc(-0.25rem - 1px);
  left: 0;
  clip-path: polygon(0 0, 50% 0, calc(50% - 0.25rem) 100%, 0.25rem 100%);
}

.button::before {
  /* fixing border width */
  top: calc(-0.25rem - 1px);
  right: 0;
  clip-path: polygon(
    calc(60% + 0.25rem) 0,
    calc(100% - 0.25rem) 0,
    100% 100%,
    60% 100%
  );
}

.button:hover {
  border: 1px solid var(--violet-neon);
  box-shadow: 0 0 20px rgba(from var(--violet-neon) r g b/0.8);
}

.button:hover::before,
.button:hover::after {
  background-color: var(--violet-neon);
}

.profile {
  padding: 0.25rem 1rem 0.25rem 0.25rem;

  img {
    height: 100%;
    width: auto;
  }
}

.nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  font-family: 'Orbitron', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
}

.menu {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;

  a {
    text-decoration: none;
    color: inherit;
    display: flex;
    padding: 1rem 1rem;

    font-weight: 900;
  }
}

.mobile_nav {
  position: fixed;
  inset: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  gap: 1rem;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
  font-family: 'Orbitron', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--fond-transparent);
  backdrop-filter: blur(10px);
  color: var(--texte-clair);

  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

.burger_button {
  display: none !important;
}

@media (max-width: 1000px) {
  .header {
    padding: 0 1rem 0 0.25rem;
  }
  .nav .menu,
  .nav .button {
    display: none;
  }

  .mobile_nav {
    display: flex;
  }

  .button {
    color: var(--bleu-neon);

    border: 1px solid var(--bleu-neon);
  }

  .button::before,
  .button::after {
    background-color: var(--bleu-neon);
  }

  .burger_button {
    display: flex !important;
    color: var(--fond-sombre);
    border: 1px solid var(--fond-sombre);
  }

  .burger_button::before,
  .burger_button::after {
    background-color: var(--fond-sombre);
  }
}
